<div class="d-flex justify-content-center w-50 mx-auto">
  <form>
    <div class="row lr-panel">
      <h1 class="text-center"><span>Rep</span><span class="text-warning">Recorder</span></h1>
      <h2 class="text-center">Regisztráció</h2>
      <div class="col-md-12">
        <label for="email" class="form-label">Email:</label>
        <input id="email" class="form-control border-dark" name="email" [(ngModel)]="email" autocomplete="off">
      </div>
      <div class="col-md-12 pt-2">
        <label for="password" class="form-label">Jelszó:</label>
        <input type="password" id="password" class="form-control border-dark" name="email" [(ngModel)]="password" autocomplete="off">
      </div>
      <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-warning mt-2" value="Regisztráció" (click)="register()">
      </div>
      <p class="mt-2">Van már fiókod? <a class="text-primary" href="/login">Jelentkezz be itt!</a></p>
    </div>
  </form>
</div>
